@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0; }

/*------IMAGEN DE FONDO-------*/
body {
  background-image: url("../img/fondobk.png");
  background-attachment: fixed; }

/*----------Mediaq del slider-----------*/
@media (max-width: 768px) {
  #carouselExampleControls {
    display: none; } }

@media (min-width: 769px) {
  #carouselExampleControls2 {
    display: none; } }

@media (max-width: 768px) {
  #carouselExampleControls3 {
    display: none; } }

.bg-lila {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #ebebeb; }
  .bg-lila .navbar-light {
    color: #1493A2; }
  .bg-lila a.navbar-brand {
    width: 250px;
    height: 47.5px; }
    @media (min-width: 280px) and (max-width: 375px) {
      .bg-lila a.navbar-brand {
        width: 180px;
        height: 47.5px; } }
  .bg-lila .navbar-nav {
    color: #1493A2; }
    .bg-lila .navbar-nav:hover {
      color: #8487ce; }
    .bg-lila .navbar-nav:visited {
      color: #ea7cb7; }
    .bg-lila .navbar-nav .nav-link {
      color: #1493A2; }
      .bg-lila .navbar-nav .nav-link:hover {
        color: #8487ce; }
      .bg-lila .navbar-nav .nav-link:visited {
        color: #ea7cb7; }
  .bg-lila .dropdown-item {
    color: #1493A2; }
    .bg-lila .dropdown-item:hover {
      color: #8487ce; }
    .bg-lila .dropdown-item:visited {
      color: #ea7cb7; }
  .bg-lila .btn.btn-outline-success {
    color: #1493A2;
    border-color: #1493A2;
    border-width: 3px; }

header h1 {
  background-color: #FFFFFF;
  opacity: 0.7; }

header h2 {
  background-color: #FFFFFF;
  opacity: 0.9; }

nav .breadcrumb {
  font-size: 1.5rem; }
  nav .breadcrumb a {
    text-decoration: none;
    color: #1493A2;
    font-weight: bold; }
  nav .breadcrumb .breadcrumb-item.active {
    color: #ea7cb7; }
  nav .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    color: #ea7cb7; }

#mainIndex .bg-color {
  background-color: #ebebeb; }
  #mainIndex .bg-color .pfont2 {
    font-size: 3rem;
    font-weight: bold;
    color: #84b7bd; }

#sectionIndex h2 {
  background-color: #FFFFFF;
  opacity: 0.9; }

#sectionIndex .card {
  border: 2px solid;
  border-color: #9e7e98;
  border-radius: 20px; }
  #sectionIndex .card img {
    border-radius: 5px; }
  #sectionIndex .card .card-text1 {
    font-size: 1rem;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold; }

#carouselExampleControls3 img {
  height: 90vh; }

#mainSobre h2 {
  background-color: #FFFFFF;
  opacity: 0.9; }

#mainSobre #seccionSobre {
  background-color: #84b7bd;
  border-top: 2px solid #709094;
  box-shadow: 0px 28px 11px -23px rgba(0, 0, 0, 0.75); }
  @media (min-width: 280px) and (max-width: 1266px) {
    #mainSobre #seccionSobre {
      display: none; } }
  #mainSobre #seccionSobre img {
    width: 300px;
    height: 480px; }

#mainSobre #fotoYami {
  background-color: #84b7bd;
  border-top: 2px solid #709094;
  box-shadow: 0px 28px 11px -23px rgba(0, 0, 0, 0.75); }
  @media (min-width: 280px) and (max-width: 1266px) {
    #mainSobre #fotoYami {
      width: 100%; } }
  #mainSobre #fotoYami img {
    border-radius: 100%;
    width: auto;
    height: 450px; }
    @media (min-width: 280px) and (max-width: 374px) {
      #mainSobre #fotoYami img {
        width: 250px;
        height: auto; } }

#mainSobre #textoYami {
  background-color: #84b7bd;
  border-top: 2px solid #709094;
  box-shadow: 0px 28px 11px -23px rgba(0, 0, 0, 0.75); }
  @media (min-width: 280px) and (max-width: 1266px) {
    #mainSobre #textoYami {
      width: 100%; } }
  #mainSobre #textoYami .pfont {
    font-size: 24px;
    color: #2c3638;
    padding: 48px; }
    @media (min-width: 375px) and (max-width: 768px) {
      #mainSobre #textoYami .pfont {
        font-size: 21px;
        padding: 5px; } }
    @media (min-width: 280px) and (max-width: 374px) {
      #mainSobre #textoYami .pfont {
        font-size: 18px;
        display: flex;
        text-align: left;
        padding: 0px; } }

#mainGaleria .card-body {
  background-color: #9e7e98; }
  #mainGaleria .card-body h3 {
    color: #FFFFFF;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.6); }
  #mainGaleria .card-body p {
    color: #FFFFFF; }

#mainTurnos .card {
  background-color: #f7f7f7; }
  @media (min-width: 400px) and (max-width: 544px) {
    #mainTurnos .card {
      height: auto;
      width: 400px; } }
  @media (min-width: 280px) and (max-width: 399px) {
    #mainTurnos .card {
      height: auto;
      width: 280px; } }
  #mainTurnos .card .card-titlesobre {
    font-weight: bold;
    color: #f5d165; }
    #mainTurnos .card .card-titlesobre .card-text2 {
      font-size: 1rem; }
  #mainTurnos .card .card-titlesobre2 {
    font-weight: bold;
    color: #ea7cb7; }
    #mainTurnos .card .card-titlesobre2 .card-text2 {
      font-size: 1rem; }

#mainContacto h2 {
  background-color: #FFFFFF;
  opacity: 0.9; }

#mainContacto .bg-color3 {
  background-color: #709094; }

#mainContacto .btn-primary {
  background-color: #ea7cb7;
  border-color: #FFFFFF; }

#mainContacto h3 {
  background-color: #709094;
  font-size: 25px;
  color: #FFFFFF;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.6); }

footer {
  width: 100%;
  background-color: #ebebeb;
  height: 100px;
  display: flex;
  justify-content: center; }
  footer .tamañofoot {
    margin-top: 30px; }
    footer .tamañofoot a {
      text-decoration: none; }
      footer .tamañofoot a .bi-whatsapp, footer .tamañofoot a .bi-house, footer .tamañofoot a .bi-instagram {
        color: #84b7bd;
        width: 45px;
        height: 45px; }
        footer .tamañofoot a .bi-whatsapp:hover, footer .tamañofoot a .bi-house:hover, footer .tamañofoot a .bi-instagram:hover {
          color: #8487ce; }
        @media (min-width: 280px) and (max-width: 426px) {
          footer .tamañofoot a .bi-whatsapp, footer .tamañofoot a .bi-house, footer .tamañofoot a .bi-instagram {
            width: 30px;
            height: 30px; } }

/*-----------TRANSFORMACIONES Y ANIMACIONES-------------*/
.linear-gradient {
  background: linear-gradient(to top, #c79fc0, white); }

.scale:hover {
  transform: scale(1.1);
  cursor: pointer; }

@keyframes animateArticle {
  0% {
    width: 400px; }
  25% {
    width: 500px; }
  50% {
    width: 600px;
    background-color: #373e4a; }
  100% {
    width: 500px; } }

.animate {
  animation-name: animateArticle;
  animation-iteration-count: 2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-delay: 1s; }
