@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

/*html{
	font-size: 62.5%;
}*/

/*------IMAGEN DE FONDO-------*/

body{
	background-image:url("../img/fondobk.png");
	background-attachment: fixed;
}

/*-----------NAV-------------*/


nav {
	font-size: 1.5rem;
	font-weight: bold;
}

.bg-lila{
	   background-color: #ebebeb; 
}


.navbar-light .navbar-nav .nav-link {
    color: #1493A2;
}

.navbar-light .navbar-nav .nav-link:visited{
  	color: #ea7cb7;
}

.navbar-light .navbar-nav .nav-link:hover{
  	color: #8487ce;
}

.btn.btn-outline-success{
	color: #1493A2;
	border-color: #1493A2;
	border-width: 5px;
}

.dropdown-item{
	color: #1493A2;
}

.dropdown-item:hover{
	color: #8487ce;
}

.dropdown-item:visited{
	color: #ea7cb7;
}




/*-----------HEADER-------------*/

header h1{
	background-color: white;
	opacity: 0.7;
}

section.bg-color {
    background-color: #ebebeb;
}

section h2{
	background-color: white;
	opacity: 0.9;
}

header h2{
	background-color: white;
	opacity: 0.9;
}

/*Breadcrumb segunda nav*/

.breadcrumb a{
	text-decoration: none;
	color: #1493A2;
}

.breadcrumb-item.active{
	color: #ea7cb7;
}

.breadcrumb-item+.breadcrumb-item::before{
	color: #ea7cb7;
}


#SeccionSobre img[src="../img/sillaa.png"]{
 	width: 425px;
 	height: 584px;
}





/*----------Mediaq del slider-----------*/

@media (max-width: 768px) { 
	#carouselExampleControls{
		display: none;
	}
}

@media (min-width: 768px) { 
	#carouselExampleControls2{
		display: none;
	}
}

/*----------Mediaq de la imagen Sección Sobre-----------*/

@media (min-width: 280px) and (max-width: 375px){
	#SeccionSobre img[src="../img/sillaa.png"]{
 		width: 325px;
 		height: 484px;
 	}
}



/*----------MAIN---------*/


.bg-color {
    background-color: #8487ce;
}

.pfont{
	font-size: 20px;
	color: white;
}

.pfont2{
	font-size: 3rem;
	font-weight: bold;
	color: #84b7bd;
}



article.bg-color2 {
    background-color: #709094;
}

.card-text1{
	font-size: 1rem;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}


/*----------FOOTER---------*/



footer{
	width: 100%;
	background-color: #ebebeb; 
	height: 100px;
	display: flex;
	justify-content: center;
}


footer a{
	text-decoration: none;
}

.tamañofoot{
	margin-top: 30px;
}

.iconss{

}

.bi-whatsapp{
	font-size: 40px;
	color: #84b7bd;
}

.bi-whatsapp:hover{
	color: #8487ce;
}

.bi-instagram{
	font-size: 40px;
	color: #84b7bd;
}

.bi-instagram:hover{
	color: #8487ce;
}


.pie__icon--sm{
	width: 45px;
	height: 45px;
}


.pie__icon--md{
	width: 60px;
	height: 45px;
	margin-bottom: 20px;
}



/*-----------TRANSFORMACIONES Y ANIMACIONES-------------*/


.linear-gradient{
	background: linear-gradient(to top, #c79fc0, white);
}



.scale:hover{
	transform: scale(1.1);
	cursor: pointer;
}


.skew:hover{
	box-shadow: 7px 5px 6px -4px rgba(0,0,0,0.6);
	-webkit-box-shadow: 7px 5px 6px -4px rgba(0,0,0,0.6);
	-moz-box-shadow: 7px 5px 6px -4px rgba(0,0,0,0.6);
}


@keyframes animateArticle{
	0%{width: 400px;}
	25%{width: 500px;}
	50%{width: 600px; background-color:#373e4a;}
	100%{width: 500px;}
}

.animate{
	animation-name: animateArticle;
	animation-iteration-count: 2;
	animation-timing-function: ease;
	animation-duration: 3s;
	animation-delay: 1s;
}












