/*-----------TRANSFORMACIONES Y ANIMACIONES-------------*/


.linear-gradient{
	background: linear-gradient(to top, #c79fc0, white);
}



.scale:hover{
	transform: scale(1.1);
	cursor: pointer;
}


.skew:hover{
	box-shadow: 7px 5px 6px -4px rgba(0,0,0,0.6);
	-webkit-box-shadow: 7px 5px 6px -4px rgba(0,0,0,0.6);
	-moz-box-shadow: 7px 5px 6px -4px rgba(0,0,0,0.6);
}


@keyframes animateArticle{
	0%{width: 400px;}
	25%{width: 500px;}
	50%{width: 600px; background-color:#373e4a;}
	100%{width: 500px;}
}

.animate{
	animation-name: animateArticle;
	animation-iteration-count: 2;
	animation-timing-function: ease;
	animation-duration: 3s;
	animation-delay: 1s;
}
