#mainTurnos{

	.card{
		background-color: map-get($fondoCards, fondo2);
		// @media (min-width:400px) and (max-width: 544px){
		// 	height: auto;
		// 	width: 400px;
		// }
		@media (min-width:280px) and (max-width: 399px){
		 	height: auto;
		 	width: 280px;
		}
		.card-titlesobre{
		font-weight: bold;
		color: $sextoColor;
		.card-text2{
			font-size: $textSm;
			}
		}	
		.card-titlesobre2{
			font-weight: bold;
			color: $tercerColor; 
			.card-text2{
				font-size: $textSm;
			}
		}
		.btn-primary {
			background-color: $tercerColor;
			border-color: $octavoColor;
		}
	}	
}