#mainSobre{
	h2{
		background-color: $octavoColor;
		opacity: 0.9;
	}
	
	#seccionSobre {
		background-color: $quintoColor;
		border-top: 2px solid $septimoColor;
		box-shadow: 0px 28px 11px -23px rgba(0,0,0,0.75);
		@media (min-width:280px) and (max-width: 1266px){
	 		display: none;
	 	}
		 img{
		 	width: 300px;
		 	height: 480px;
		}
	}

	#fotoYami {
		background-color: $quintoColor;
		border-top: 2px solid $septimoColor;		
		box-shadow: 0px 28px 11px -23px rgba(0,0,0,0.75);
		@media (min-width:280px) and (max-width: 1266px){
	 		width: 100%;
	 	}
		img{
			border-radius: 100%;
			width: auto;
		 	height: 450px;
			@media (min-width:280px) and (max-width: 374px){
	 			width: 250px;
	 			height: auto;
	 		}
		}
	}

	#textoYami {
		background-color: $quintoColor;
		border-top: 2px solid $septimoColor;
		box-shadow: 0px 28px 11px -23px rgba(0,0,0,0.75);
		@media (min-width:280px) and (max-width: 1266px){
	 		width: 100%;
	 	}
		.pfont{
			@include texto(24px, $novenoColor)
			padding: 48px;
			@media (min-width:375px) and (max-width: 768px){
				font-size: 21px;
	 			padding: 5px;
	 		}
			@media (min-width:280px) and (max-width: 374px){
	 			font-size: 18px;
	 			display: flex;
	 			text-align: left;
	 			padding: 0px;
	 		}
		}
	}
}