#sectionIndex{
	h2{
		background-color: $octavoColor;
		opacity: 0.9;
	}
	.card{
		border: 2px solid;
		border-color: #9e7e98;
		border-radius: 20px;
		img{
			border-radius: 5px;
		}
		.card-text1{
			font-size: $textSm;
			color: $octavoColor;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}