nav{
	.breadcrumb {
  		font-size: $textMd;

  		a{
  			text-decoration: none;
  			color: $primerColor; 
  			font-weight: bold;
  		}

  		.breadcrumb-item.active {
	  		color: $tercerColor;
	  	}

	  	.breadcrumb-item + .breadcrumb-item::before {
	  		color: $tercerColor; 
	  	}
  	}
}

