// variables de colores
$primerColor: #1493A2;
$segundoColor: #8487ce;
$tercerColor: #ea7cb7;
$cuartoColor: #ebebeb;
$quintoColor: #84b7bd;
$sextoColor: #f5d165;
$septimoColor: #709094;
$octavoColor: #FFFFFF;