// variables de colores
$primerColor: #1493A2;
$segundoColor: #8487ce;
$tercerColor: #ea7cb7;
$cuartoColor: #ebebeb;
$quintoColor: #84b7bd;
$sextoColor: #f5d165;
$septimoColor: #709094;
$octavoColor: #FFFFFF;

// Mixin

@mixin texto ($font-size, $color){
	font-size: $font-size;
	color: $color;
}

// Map

$fondoCards:(
	fondo1: #f2f2f2,
	fondo2: #f7f7f7,
	fondo3: #b0b0b0);
