@import "_variables.scss";
@import "_fonts.scss";
@import "_fondo.scss";
@import "_breakPoints.scss";
@import "_navBar.scss";
@import "_header.scss";
@import	"_segundaNav.scss";
@import "_mainIndex.scss";
@import "_sectionIndex.scss";
@import "_mainSobre.scss";
@import "_mainTurnos.scss";
@import "_mainContacto.scss";
@import "_footer.scss";
@import "_animacionesTransformaciones.scss";